*{
    background-color: salmon;
}
.titulo{
    border-style: solid;
    border-color: rgb(13, 202, 250);
    width: 100%;
    height: 20%;
}
#amarillo{
    float: left;
    clear: right;
}
#verde{
    float: left;
    clear: right;
}
#marron{
    float: left;
    clear: right;

}