*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    height: 100vh;
    width: 100vw;
    background: rgb(143, 194, 218);
}
header{
    text-shadow: 2px 2px 2px #000000;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,1) 35%, rgba(6,44,166,1) 65%, rgba(0,212,255,0) 100%);
    text-align: center;
    padding: 1rem;
    border: 1px solid red;

    display: flex;
    justify-content: space-around;
}
header h1{
    color: wheat;
}
button {
    padding: 0.8em 1.8em;
    border: 2px solid salmon;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: salmon;
}
   
button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: salmon;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
button:hover::before {
    width: 105%;
}
   
button:hover {
    color: #111;
}











#contenedores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border: 2px solid black ;
    background-color: aquamarine;
    float: left;
    clear: right;
}
#reciclaje{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border: 2px solid black ;
    background-color: blueviolet;
    float: left;
    clear: right;
}
#curiosidades{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border: 2px solid black ;
    background-color: salmon;

}
#contenedorGrande{
width: 100%;
heigth: 80%;
display: flex;
justify-content: space-around;
background-color: black;
}
