html{
    font-family: Calibri;
    font-size: 4pt;
    color: black;
}

@media (min-width: 400px) {
    html{
        font-family: 'Cambria';
        font-size: 8pt;
        color: blue;
    }
}
@media (min-width: 801px) {
    html{
        font-family:'Comic Sans MS';
        font-size: 10pt;
        color: green;
    }
}
@media (min-width: 1201px) {
    html{
        font-family:'Times New Roman';
        font-size: 12pt;
        color: yellow;
    }
}
@media (min-width: 1601px) {
    html{
        font-family:'Courier New';
        font-size: 14pt;
        color: orange;
    }
}