*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
}
header{
    text-shadow: 2px 2px 2px #000000;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,1) 35%, rgba(6,44,166,1) 65%, rgba(0,212,255,0) 100%);
    text-align: center;
    padding: 1rem;
    border: 1px solid blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    color: wheat;
    font-family: 'Croissant One', cursive;
    font-size: 60px;
}
header img{
    width: 10%;
    height: 10%;
}