body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/pattern\ reciclaje.jpg);
    background-repeat: repeat;
    padding: none;
}
.texto{
    font-size: x-large;
    font-family: 'Jost', sans-serif;
}
#titulo{
    margin-top: -20px;
    background: linear-gradient(90deg, rgb(46, 221, 69)0%,rgb(96, 216, 134) 20%, rgb(97, 196, 151) 40%, rgb(67, 135, 134) 60%, rgb(27, 105, 128) 80%);
    font-size: xx-large;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
#main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#primeraFila td{
    background-color: rgba(32, 17, 218,0.3);
}
#primeraFila td:hover{
    background-color: rgba(32, 17, 218,0.6);
}
#primeraFila th{
    background-color: rgb(241, 196, 15);
}
#tablaReciclaje{
    height: 20%;
    width: 20%;
    border: 1px solid black;
    margin: auto;
    
}
@keyframes animTabla{
    0%{box-shadow:4em 4em 8px 3em rgba(0, 0, 0, 0.0);}
    20%{box-shadow:4em 4em 8px 3em rgba(0, 0, 0, 0.2);}
    40%{box-shadow:4em 4em 8px 3em rgba(0, 0, 0, 0.4);}
    60%{box-shadow:4em 4em 8px 3em rgba(0, 0, 0, 0.6);}
    75%{box-shadow:4em 4em 8px 3em rgba(0, 0, 0, 0.7);}
}
#tablaReciclaje:hover{
    animation: animTabla 3s ;
}
#tablaReciclaje td{
    border: 1px solid black;
}