body{
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-image: url(../img/pattern\ basura.png);
    background-repeat: repeat;
}
#divGrande{
    height: 90%;
    width:70%;
    background-color: rgb(64, 63, 71);
    color: antiquewhite;
    border: none;
    border-radius: 20px;
   
}
#titulo{
    font-size: 23px;
    font-family: 'Keania One', cursive;
    text-align: center;
}
#formulario{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: blueviolet;
    height:60%;
    width: 80%;
    font-size: x-large;
    border: none;
    border-radius: 20px;
    font-family: 'Galindo', cursive;
}
.input{
    border: none;
    border-radius: 20px;
    width: 80%;
    background-color: rgba(240, 5, 240, 0.836);
    color: antiquewhite;
    font-size: x-large;
}
#boton{
    border: none;
    background-color: rgba(240, 5, 240, 0.836);
}
#boton:active{
    background-color:rgb(117, 194, 54);
}