body{
    height: auto;
}
.volver{
    float: left;
    width: 8%;
    height: 20%;
}

.imagen{ 
    width: 70%;
    height: 20%;
    margin-left: 15%;
}

.frase{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 10%;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 150%;
    text-align: center;
    margin-left: 18%;
}

.si{
    width: 30%;
   /* height: 30%; */
    float: left;
    padding-left: 30%;
    font-size: 150%;
}
.no{
    width: 35%;
   /* height: 30%;*/
    float: left;
    padding-left: 3%;
    font-size: 150%;
}
ul{
    padding-left: 1%;
}

li +p{
    color: rgb(151, 148, 148);
    font-size:0.85em;
    line-height:0.85em;
}